@model WelcomeTo.Models.Card
 
<div class="row form-group">
    <div class="col-md-12 text-center">
        <div class="img_container">           
            <img src="~/Content/Templates/fronte.png" class="numberImg">
            <img src="@Model.ImgUrl" class="iconImg iconBottomImg">
            <img src="@Model.ImgUrl" class="iconImg iconTopImg">    
            <img src="~/Content/Templates/Fronte-angoli.png" class="retroImg">
            <span class="numberIcon numberTop">@Model.Number.ToString()</span>
            <span class="numberIcon numberBottom">@Model.Number.ToString()</span>
            <h2> @Model.Number.ToString() </h2>
        </div>
    </div>
</div>
